.fenetre {
    height: 300px;
    width: 300px;
    background-color: lightblue;
    border: 10px solid #462100;
    display: block;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    
}

body {
    background-color: lightgrey;
}

#soleil{
    color: transparent;
    background-color: yellow;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    
    display: inline-block;
    position: absolute;
    top:-10px;
    right: -5px;
}
#soleil{
    animation-name: soleil;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}



@keyframes soleil {
    0%{
        top: -10px;
    }
    
    
    50%{
        top:300px;
        background-color: darkblue;
    }
    100%{
        top:-10%;
        background: yellow;
    }
}

.nuage{
    color: transparent;
    background-color: white;
    height: 70px;
    width: 70px;
    border-radius: 60px;
    position: relative;
    display: inline-block;
    margin-top: 90px;
    
    
}

.nuage:before {
    color: transparent;
    background-color: white;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    content:'<span>&nbsp;</span>';
    position: relative;
    display: inline-block;
    top: -40px;
    left: 50px;
}

.nuage:after{
    color: transparent;
    background-color: white;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    content:'<span>&nbsp;</span>';
    position: relative;
    display: inline-block;
    top: -80px;
    left: 60px;
}

.oiseaux {
    color: black;
    font-size: 50px;
    display: inline-block;
    position: relative;
    left: -200px;
    bottom: -20px;
}

div {
    animation-duration: 20s;
    animation-name: cmondosomessing;
    animation-iteration-count: infinite;
}

@keyframes cmondosomessing {
    0% {
        top : 10px;
        left : -50px;
    }
    12% {
        top : 1px;
    }
    100% {
        top : 10px;
        left : 250px;
    }
    }

.nuage{
    animation-name: nuage;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes nuage {
    0%{
        top:10px;
        left:-150px;
    }
    100%{
        top:10px;
        left:300px;
    }
}

.oiseaux {
    animation-name: oiseaux;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes oiseaux {
    0% {
        transform: translate(0);
    }
    5% {
        transform : translate(50px, 5px);
    }
    15% {
        transform : translate(100px, -5px);
    }
    25% {
        transform: translate(150px, 5px);
    }
    35% {
        transform: translate(200px, -5px);
    }
    45% {
        transform: translate(250px, 5px);
    }
    55% {
        transform: translate(300px, -5px);
    }
    65% {
        transform: translate(350px, 5px);
    }
    75% {
        transform: translate(400px, -5px);
    }
    85% {
        transform: translate(450px, 5px);
    }
    95% {
        transform: translate(500px, -5px);
    }
    100% {
        transform: translate(500px);
    }
}

.oiseaux:nth-child(3) {
    animation-delay: 0.6s;
}

.fenetre {
    animation-name: fenetre;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}

@keyframes fenetre{
    0%{
        background-color: lightblue;
    }
    50%{
        background-color: darkblue;
    }
    100%{
        background-color: lightblue;
    }
}


